<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div class="container">
      <div class="content-container">
        <form
          class="editForm"
          method="post"
          action="/<%= todo.id %>?_method=PUT"
        >
          <h1 class="edit-title" for="todo">Edit Task</h1>
          <div>
            <input
              class="task-input"
              type="text"
              name="todo"
              id="todo"
              value="<%=todo.task%>"
            />
            <div class="btn-container">
              <a class="cancelBtn btn" href="/">Cancel</a>
              <button class="addBtn btn" type="submit">Update</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
