<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <h1 class="home-title">To Do</h1>
    <a href="/new">Add Task</a>

    <% todoList.forEach(task => { %>
    <div><%= task.task %></div>
    <% }) %>
  </body>
</html>
