<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div class="container">
      <div class="content-container">
        <h1 class="new-title">Add To Do</h1>
        <div class="error"><%- include('./partials/errorMessage.ejs') %></div>

        <form action="/" method="post">
          <label class="task" for="todo">Task</label>
          <input class="task-input" type="text" name="todo" id="todo" />

          <div class="btn-container">
            <a class="cancelBtn btn" href="/">Cancel</a>
            <button class="addBtn btn" type="submit">Add Task</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
